@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
}

body {
  @apply bg-vajra-bg text-slate-200;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background: #2a3448;
  border-radius: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
